# Notebook 01 - ETL e Exploração de Dados

In [ ]:
# seu código aqui